.container {
	margin-top: 2%;
	width: 500px;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.panel-heading h1 {
	font-size: 1.5em;
	font-weight: bold;
}

[data-href] {
	cursor: pointer;
}

button.input-group-addon {
	display: inline;
}